body {
  background-color: yellow;
}
h1 {
  color: rgb(53, 87, 4);
}

#redHeadingParagraph {
  color: red;
}

.sarcasticQuote {
  color: blue;
}

.container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
}

.container-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: antiquewhite;
}

#Kanye-said-SO {
  color: purple;
  position: absolute;
  height: 200px;
  width: 200px;
  left: 50px;
  top: 70px;
}
